---
import Layout from '../../layouts/Layout.astro';
import OrgCard from '../../components/OrgCard.astro';
import db from '../../lib/db.js';
import type {NoParams} from "../../lib/types.ts";
import {getBlockImagePath, getBlockPath} from "../../lib/paths.ts";

interface Block {
    id: number;
    name: string;
    membersCount: number;
}

const blocks = db.prepare<NoParams, Block>(`
  SELECT
    b.id,
    b.short_name AS name,
    COUNT(*) AS membersCount
  FROM blocks b
  LEFT JOIN congressmen c ON b.id = c.block_id
  GROUP BY b.id, b.short_name
  ORDER BY b.short_name, membersCount DESC
`).all();
---

<Layout title="Bancadas del Congreso">
    <div class="page-header">
        <h1>Bancadas del Congreso</h1>
    </div>

    <div class="grid-cards">
        {blocks.map(({id, name, membersCount}) =>
          <OrgCard name={name} membersCount={membersCount} href={getBlockPath(id)}>
              <img src={getBlockImagePath(id)} alt={name} class="fit"/>
          </OrgCard>
        )}
    </div>
</Layout>
