---
import Layout from "../../layouts/Layout.astro";
import OrgCard from "../../components/OrgCard.astro";
import { getPartyImagePath, getPartyPath } from "../../lib/paths";
import {getAllPartiesWithMembersCount} from "../../lib/queries.ts";

const parties = getAllPartiesWithMembersCount();
---

<Layout title="Bancadas del Congreso">
  <div class="page-header">
    <h1>Bancadas del Congreso</h1>
  </div>

  <div class="grid-cards">
    {
      parties.map(({ id, shortName, membersCount }) => (
        <OrgCard
          name={shortName}
          membersCount={membersCount}
          href={getPartyPath(id)}
        >
          <img src={getPartyImagePath(id)} alt={shortName} class="fit" />
        </OrgCard>
      ))
    }
  </div>
</Layout>
