---
import Layout from '../../layouts/Layout.astro';
import MarkedMap from "../../components/MarkedMap.astro";
import OrgCard from "../../components/OrgCard.astro";
import {getDistrictPath} from "../../lib/paths.ts";
import {getAllDistrictsWithMembersCount} from "../../lib/queries.ts";

const districts = getAllDistrictsWithMembersCount();
---

<Layout title="Distritos Electorales">
  <div class="page-header">
    <h1>Distritos Electorales</h1>
  </div>

  <div class="grid-cards">
    {districts.map(({id, name, key, membersCount}) =>
      <OrgCard name={name} membersCount={membersCount} href={getDistrictPath(id)}>
          <MarkedMap districtMarked={key} cssClass="fit"/>
      </OrgCard>
    )}
  </div>
</Layout>

